@page
@model SignalRAssignment.Pages.ProductPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Supplier.SupplierId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Category.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.QuantityPerUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.QuantityPerUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProductImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductImage)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Products.ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/ProductPage/Index">Back to List</a>
    </form>
</div>
