@page
@using Newtonsoft.Json;
@using SignalRAssignment.Models;
@model SignalRAssignment.Pages.ProductPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@{
    var json = HttpContext.Session.GetString("_login");
    Account acc;
    try
    {
        acc = JsonConvert.DeserializeObject<Account>(json);
    }
    catch
    {
        acc = null;
    }
}
<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Supplier)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Products.suppliersId.companyName)*@
            @ViewData["sup"]
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Category)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Products.categoriesId.categoryName)*@
            @ViewData["cat"]
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.QuantityPerUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.QuantityPerUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProductImage)
        </dt>
        <dd class="col-sm-10">
           @* <input type='text'
                   class="form-control"
                   value="@Html.DisplayFor(model => model.Products.productImage)"
                   id="upload" onchange="readURL(this)" />
                   <button onclick="readURL()">test load</button>*@
            <img class="img-fluid" id="img" 
            src="@Html.DisplayFor(model => model.Products.ProductImage)" alt="your image" />
        </dd>
    </dl>
</div>
<div>
    @if (acc != null && acc.Type == 1)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Products?.ProductId">Edit</a>
    }
    <a asp-page="/ProductPage/Index">Back to List</a>
</div>

<script>
    function readURL() {
        var url = document.getElementById("upload").value;
        document.getElementById("img").src = url;
    }
</script>